* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: var(--liColor);
    scroll-behavior: smooth;
}
:root {
    --primColor: #e5383b;
    --secColor: #f7bcf7;
    --liColor: #ffffff;
    --bgColor-1: #171a1c;
    --bgColor-2: #22282a;
    --padding: 8%;
}
.text-center {
    text-align: center;
}
p {
    color: var(--liColor);
    letter-spacing: 1px;
    line-height: 1.8rem;
    font-size: 15px;
}
h1 {
    font-size: 4.65rem;
    margin: 1.7rem 0;
}
h2 {
    font-size: 2.2rem;
    letter-spacing: 0.12rem;
}
h3 {
    font-size: 1.5rem;
    margin-bottom: 3.5rem;
}
h4 {
    font-size: 1.25rem;
    letter-spacing: 0.12rem;
}

h5 {
    font-size: 1.37rem;
    margin-bottom: 1.5rem;
    letter-spacing: 2px;
}
/* start home  */
.home {
    width: 100%;
    height: 100vh;
    background-color: var(--bgColor-1);
    display: flex;
    flex-direction: column;
}
span {
    color: var(--primColor);
}

nav {
    padding-top: 2.8rem;
    padding-left: var(--padding);
    padding-right: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0.8rem 1.5rem;
}
nav ul li a {
    color:var(--liColor);
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.4s;
}
nav ul li a:hover{
    color: var(--primColor);
}
.btn {
    background-color: var(--primColor);
    color: var(--liColor);
    text-decoration: none;
    font-weight: bold;
    padding: 0.81rem 1.87rem;
    border-radius: 30px;
    transition: 0.5s;
    border: 2px solid transparent;
    transition: scale 0.2 ease;
}
.btn:hover{
    background-color: var(--bgColor-1);
    border: 2px solid var(--primColor);
    scale: 1.1;
}
.btn:active {
    scale: 1;
}
.container-texts {
    position: relative;
    bottom: 65px;
}
.content {
    flex-grow: 1;
    padding: 0 var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social {
    margin-top: 3.5rem;
}
.social img {
    margin-right: 2rem;
    width: 2.5rem;
    transition: 0.4s;
}
.social img:hover{
    transform: scale(1.2);
}
.home .container-imgs {
    width: 45%;
    height: 90%;
    position: relative;
    align-self: flex-end;
}
.home .container-imgs img {
    position: absolute;
    bottom: 0;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
.home .container-imgs:hover .shape{
    bottom: 40px;
}
.home .container-imgs:hover .man{
    left: 45%;
}
/* start about  */
.about {
    background-color: var(--bgColor-2);
    padding: 2rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.about .container-imgs {
    width: 35%;
}
.about .container-imgs img {
    width: 90%;
}
.about .container-texts {
    width: 35%;
}
/* start services  */
.services {
    background-color: var(--bgColor-1);
    padding: 2rem var(--padding);
}

.box {
    display: flex;
    justify-content: space-between;
}
.card {
    width: 300px;
    background-color: var(--bgColor-2);
    border-radius: 20px;
    padding: 1.3rem 2rem;
    text-align: center;
}
.card i {
    font-size: 3.17rem;
    text-align: center;
    color: var(--primColor);
    margin: 2rem;
}
/* start skills  */
.skills {
    background-color: var(--bgColor-2);
    padding: 2rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skills .container-imgs {
    width: 35%;
}
.skills .container-imgs img {
    width: 90%;
}
.skills .container-skills {
    width: 35%;
}
.skills .content-skills {
    display: flex;
    flex-wrap: wrap;
}
.skill {
    width: 100px;
    height: 100px;
    background-color: var(--liColor);
    border-radius: 50%;
    margin: 0 2rem 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
}
.skill:hover{
    opacity: 1;
}
.skill img {
    width: 70%;
}
/* start footer  */
footer {
    background-color: var(--bgColor-1);
    padding: 20px;
    text-align: center;
}
/* menu  */
#menu {
    display: none;
    position: relative;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    user-select: none;
}
#menu span {
    display: block;
    width: 33px;
    height: 4px;
    background-color: var(--liColor);
    border-radius: 6px;
    transform-origin: 0 0;
    transition: 0.4s;
    margin-bottom: 5px;
}
#menu.is-active span:nth-child(1) {
    transform: translate(0px, -2px) rotate(45deg);
}
#menu.is-active span:nth-child(2) {
    opacity: 0;
    transform: translateX(15px);
}
#menu.is-active span:nth-child(3) {
    transform: translate(-3px, 3px) rotate(-45deg);
}
#menu.is-active span {
    background-color: var(--primColor);
}


/* media  */
@media (max-width: 575px) {
    :root {
        --padding: 1.5rem;
    }
    html {
        font-size: 13px;
    }
    .home .container-imgs {
        display: none;
    }
    nav {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: 82px;
        padding-top: 0;
        background-color: var(--bgColor-1);
        border-bottom: 1px solid var(--bgColor-2);
        z-index: 100;
    }
    nav > a {
        display: none;
    }
    nav ul {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--bgColor-2);
    }
    nav ul.is-active{
        display: block;
    }
    nav ul li {
        display: block;
        text-align: center;
        margin: 50px;
    }
    .container-texts {
        bottom: 0;
    }
    .scoial {
        margin-top: 70px;
    }
    h3 {
        margin-bottom: 70px;
    }
    #menu {
        display: block;
    }
    .about .container-imgs {
        display: none;
    }
    .about .container-texts {
        width: 100%;
    }
    .box {
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
        
    }
    .skills .container-imgs {
        display: none;
    }
    .skills .container-skills {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .skills .container-skills .content-skills {
        margin-top: 2rem;
        align-items: center;
        justify-content: center;
    }
    .skill {
        width: 95px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    :root {
        --padding: 1.5rem;
    }
    .content {
    padding-top: 82px;
    }
    html {
        font-size: 13px;
    }
    .home .container-imgs {
        display: none;
    }
    nav {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: 82px;
        padding-top: 0;
        background-color: var(--bgColor-1);
        border-bottom: 1px solid var(--bgColor-2);
        z-index: 100;
    }
    nav > a {
        display: none;
    }
    nav ul {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--bgColor-2);
    }
    nav ul.is-active{
        display: block;
    }
    nav ul li {
        display: block;
        text-align: center;
        margin: 50px;
    }
    .container-texts {
        bottom: 0;
    }
    .scoial {
        margin-top: 30px;
    }
    h3 {
        margin-bottom: 30px;
    }
    #menu {
        display: block;
    }
    .about .container-imgs {
        display: none;
    }
    .about .container-texts {
        width: 100%;
    }
    .box {
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
        
    }
    .skills .container-imgs {
        display: none;
    }
    .skills .container-skills {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .skills .container-skills .content-skills {
        margin-top: 2rem;
        align-items: center;
        justify-content: center;
    }
    .skill {
        width: 95px;
    }
}
@media (min-width: 768px) and (max-width: 900px) {
    :root {
        --padding: 1.5rem;
    }
    html {
        font-size: 13px;
    }
    .home .container-imgs {
        display: none;
    }
    nav {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: 82px;
        padding-top: 0;
        background-color: var(--bgColor-1);
        border-bottom: 1px solid var(--bgColor-2);
        z-index: 100;
    }
    nav > a {
        display: none;
    }
    nav ul {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--bgColor-2);
    }
    nav ul.is-active{
        display: block;
    }
    nav ul li {
        display: block;
        text-align: center;
        margin: 50px;
    }
    .container-texts {
        bottom: 0;
    }
    .scoial {
        margin-top: 70px;
    }
    h3 {
        margin-bottom: 70px;
    }
    #menu {
        display: block;
    }
    .about .container-imgs {
        display: none;
    }
    .about .container-texts {
        width: 100%;
    }
    .box {
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
        
    }
    .skills .container-imgs {
        display: none;
    }
    .skills .container-skills {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .skills .container-skills .content-skills {
        margin-top: 2rem;
        align-items: center;
        justify-content: center;
    }
    .skill {
        width: 95px;
    }
}
@media (min-width: 901px) and (max-width: 1279px) {
    :root {
        --padding: 1.5rem;
    }
    html {
        font-size: 13px;
    }
    .home .container-imgs img {
        height: auto;
        width: 100%;
    }
    nav {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: 82px;
        padding-top: 0;
        background-color: var(--bgColor-1);
        border-bottom: 1px solid var(--bgColor-2);
        z-index: 100;
    }
    nav > a {
        display: none;
    }
    nav ul {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--bgColor-2);
    }
    nav ul.is-active{
        display: block;
    }
    nav ul li {
        display: block;
        text-align: center;
        margin: 50px;
    }
    .container-texts {
        bottom: 0;
    }
    .scoial {
        margin-top: 70px;
    }
    h3 {
        margin-bottom: 70px;
    }
    #menu {
        display: block;
    }
    .about .container-texts {
        width: 60%;
    }
    .box {
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
        
    }

    .skills .container-skills {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .skills .container-skills .content-skills {
        margin-top: 2rem;
        align-items: center;
        justify-content: center;
    }
    .skill {
        width: 95px;
    }
}